3d-assets/Terrain/Naturia-Archipelago-MainMap/Library
3d-assets/Terrain/Naturia-Archipelago-MainMap/Logs
3d-assets/Terrain/Naturia-Archipelago-MainMap/Assets/Samples
3d-assets/Terrain/Naturia-Archipelago-MainMap/Assets/GrassFlowers
3d-assets/Terrain/Naturia-Archipelago-MainMap/Assets/Tree_Textures
3d-assets/Terrain/Naturia-Archipelago-MainMap/Assets/Conifers \[BOTD]
3d-assets/Terrain/Naturia-Archipelago-MainMap/Assets/Wood\ Set\ Pieces
3d-assets/Terrain/Naturia-Archipelago-MainMap/Assets/Standard\ Assets
3d-assets/Finished-Terrain