3d-assets/Terrain/Romshire-Atoll/Library
3d-assets/Terrain/Romshire-Atoll/Logs
3d-assets/Terrain/Romshire-Atoll/Assets/Samples
3d-assets/Terrain/Romshire-Atoll/Assets/GrassFlowers
3d-assets/Terrain/Romshire-Atoll/Assets/Tree_Textures
3d-assets/Terrain/Romshire-Atoll/Assets/Conifers \[BOTD]
3d-assets/Terrain/Romshire-Atoll/Assets/Wood\ Set\ Pieces
3d-assets/Terrain/Romshire-Atoll/Assets/Standard\ Assets